.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td{
    text-align: center!important;
    background: #f9fafb;
}

.ui.celled.table tr td:first-child, .ui.celled.table tr th:first-child{
    background: #f9fafb;
}

td > .ui.button{
    background: white!important;
}
