/* Footer Fix */
html, body {
    height: 100%;
}

#main {
    padding-bottom: 65px;
    min-height: calc(100vh - 405px);
}

footer {
    position: absolute;
    bottom: 0;
    height: 65px;
    width: 100%;
    clear: both;
    background: #67d0e9;
}

/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/
}

#footer-content{
    text-align: center;
    line-height: 3;
}