#header-top{
    clear: both;
    height: 50px;
    background: #67d0e9;
    padding-left: 15%;
    padding-right: 15%;
}

#header-cover{
    clear: both;
    height: 50px;
    background: #67d0e9;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#header-nav{
    clear: both;
    height: 60px;
    background: #67d0e9;
    padding-left: 15%;
    padding-right: 15%;
}

#header-nav > ul {
    float: left;
    margin-left: 30px;
    color: white;
    line-height: 5.2;
}

#languages-holder{
    line-height: 4.6;
    color: white;
}

#menu-front{
    line-height: 4.5;
    margin-left: 75px;
}

#menu-front li{
    float: left;
    margin-left: 10px;
}

.lang{
    float: left;
}

.lang-divider{
    float: left;
    margin-left: 3px;
    margin-right: 3px;
}

#logout-button{
    line-height: 4.6;
    float: right;
}

.parent ul{
    position: absolute;
    z-index: 10;
    background: #67d0e9;
    padding: 10px;
    margin-left: -10px;
    border-radius: 10px;
}

.f_left{
    float: left;
}

#right-nav{
    float: right;
}

.right-nav-icon{
    width: 27px;
    height: 27px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 14px;
    background-image: url(../images/message.png)!important;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
}

#notification-counter{
    position: absolute;
    background: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 9px;
    line-height: 1.8;
    font-weight: bold;
    color: #67d0e9;
    top: -5px;
    left: 15px;
}

#profile-image-holder{
    width: 32px;
    height: 32px;
    margin-top: 13px;
    position: relative;
    overflow: hidden;
    background: #ffffff;
}

#profile-image-holder img{
    height: 100%;
    width: 100%;
}

#profile-image-holder span{
    position: absolute;
    width: 5px;
    height: 5px;
    background: white;
    left: 60px;
    top: 12px;
    cursor: pointer;
}

#notifications{
    position: relative;
}

.vr{
    border-left: 1px solid white;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 12px;
    height: 35px;
}