#login-page{
    background: #67d0e9;;
    height: calc(100% + 100px);
    margin-top: -100px;
    padding-top: 100px;
}

#title-holder{
    font-size: 20px;
    text-align: center;
    color: white;
    margin-bottom: 200px;
}

.login_form{
    border: none!important;
    background: none!important;
    box-shadow: none!important;
}

#logo-holder{
    width: auto;
    height: 200px;
    position: relative;
    margin-top: -30px;
    margin-bottom: 30px;
}

#logo-holder > img{
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.login-icon{
    width: 35px;
    height: 40px;
    font-size: 25px!important;
    background-image: url(../images/username_login.png)!important;
    background-size: initial;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
}

.password-icon{
    width: 35px;
    height: 40px;
    font-size: 25px!important;
    background-image: url(../images/password_login.png)!important;
    background-size: initial;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
}

.ui.form input[type=text], .ui.form input[type=password], .ui.form input[type=email]{
    padding: .67861429em;
    padding-left: 4em;
    height: 45px;
    border: none!important;
    border-radius: inherit;
    border-bottom: 1px solid white!important;
}

.ui.icon.input > input{
    background: none!important;
    color: white;
}

.ui.inverted.red.segment{
    color: #db2828!important;
    background: none!important;
    text-align: center;
}

input[type=submit]{
    width: 100%;
    background: white!important;
    color: #67d0e9!important;
    height: 45px;
    font-size: 16px!important;
}

input[type=submit]:hover{
    font-size: 18px!important;
}

.ui.form .field.field input:-webkit-autofill,
.ui.form .field.field input:-webkit-autofill:hover,
.ui.form .field.field input:-webkit-autofill:focus,
.ui.form .field.field input:-webkit-autofill:active{
    color: white!important;
    -webkit-text-fill-color: white!important;
    background: transparent!important;
    -webkit-box-shadow: 0 0 0px 1000px #6cd1ea inset!important;
    box-shadow: 0 0 0px 1000px #6cd1ea inset!important;
    border-color: #6cd1ea!important;
}

.ui.form .field.field input::-webkit-input-placeholder,
.ui.form .field.field input:-moz-placeholder,
.ui.form .field.field input::-moz-placeholder,
.ui.form .field.field input:-ms-input-placeholder
{
    color: white!important;
}

#free_demo{
    margin-top: 10px;
    width: 100%;
}

#request_demo_form{
    background: rgba(255,255,255,0.3);
}

.normal{
    padding: .67861429em 1em!important;
    border: 1px solid rgba(34,36,38,.15)!important;
}

#admin_title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    margin-top: -20px;
    color: white;
    font-weight: bold;
}

.site_changer{
    position: fixed;
    bottom: 10px;
    right: 20px;
    color: white;
    font-size: 12px;
}

.site_changer:hover{
    color: white;
    font-weight: bold;
}