body {
    /*font-family: 'Montserrat', sans-serif!important;*/
}

.t_center{
    text-align: center;
}

#notifications{
    cursor: pointer;
}

#notifications_holder{
    width: 200px;
    box-shadow: 0px 0px 15px #d6d6d6;
    position: absolute;
    left: -180px;
    top: 40px;
    z-index: 2;
    background: white;
}

#no_notificaitons{
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #e0e0e0;
    cursor: auto;
}

.single_notification{
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #e0e0e0;
    cursor: auto;
}

#view_all_notification{
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #e0e0e0;
    cursor: auto;
    display: block;
    color: #69d1e9;
    text-align: center;
}

.notification_title{
    color: #67d0e9;
    font-size: 15px;
    cursor: pointer;
}

.notification_title:hover{
    color: #67d0e9;
    font-size: 15px;
}

.not_read{
    border-left: 3px solid #67d0e9;
}